* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.error {
  background: rgba(128, 0, 0, 0.75);
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.loading {
  background: rgba(46, 132, 73, 0.75);
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
